@use '../utils/index' as *;
@use '../functions/rem' as *;

.alert-fade {
    background: rgba($neutral-black, .4);
    left: 50%;
    height: 100vh;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    z-index: 1;

    & .alert-msg {
        background-color: $neutral-white;
        border: 1px solid $primary_blue_01;
        border-radius: to-rem(7);
        left: 50%;
        padding-block: to-rem(16);
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -80%);
        width: min(80vw, to-rem(750));

        &__head,
        &__body,
        &__footer {
            padding-inline: to-rem(16);
        }

        &__head {
            border-bottom: 1px solid $neutral-gray_01;
            margin-block-end: to-rem(10);
        }

        &__close {
            background-color: transparent;
            border: none;
            position: absolute;
            right: 0;
            top: 0;
        }

        &__footer {
            text-align: end;

            button {
                background-color: $secondary_yellow_01;
                border: 1px solid $primary_blue_01;
                border-radius: to-rem(7);
                padding: to-rem(7) to-rem(16);

                transition: all .3s ease-in;

                &:hover {
                    background-color: $secondary_yellow_02;
                    border: 1px solid $primary_blue_02;
                }
            }
        }
    }
}