@use '../../functions/rem' as *;
@use '../../utils/index' as *;

.cart-menu {
    background-color: $neutral-white_02;
    box-shadow: -1px 5px 4px $neutral-gray_01;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateX(100%);

    &.active {
        transform: translateX(0);
    }

    &__card {
        background: $neutral-white_01;
        border-bottom: 1px solid $neutral-white_04;
        border-radius: to-rem(4);
    }

    &__img {
        position: relative;
        & > img {
            height: to-rem(30);
            width: auto;
            max-width: to-rem(36);
        }
    }

    &__number {
        align-items: center;
        background-color: $neutral-white;
        border: 1px solid $neutral-gray_04;
        border-radius: 50%;
        display: flex;
        font-size: to-rem(10);
        height: to-rem(15);
        justify-content: center;
        top: 50%;
        right: 0;
        position: absolute;
        transform: translateY(-50%);
        width: to-rem(15);

        @include fontWeight('medium');
    }

    &__title,
    &__price {
        @include fontSize('x-small');
        @include fontWeight('medium');
        margin-bottom: 0;
    }

    &__actions-btn {
        button.btn-action {
            background: transparent;
            border: none;
            padding: to-rem(1) to-rem(2);
            @include fontSize('x-small');
            
            @include Media('md') {
                @include fontSize('medium')
            }

            &.btn-plus {
                color: $primary_blue_01;
            }

            &.btn-minus {
                color: $secondary_yellow_01;
            }

            &.btn-delete {
                color: $secondary_red_01;
                font-size: to-rem(14);
            }
        }
    }

    &__checkout {
        @include fontSize('normal');
        background: $secondary_yellow_01;
        border: 1px solid $primary_blue_02;
    }
}