@use '../../utils/' as *;
@use '../../functions/rem' as *;

.category-filter {
    appearance: none;
    background-image: url('/src/assets/img/svg/filter-solid.svg');
    background-position: left to-rem(5);
    background-repeat: no-repeat;
    background-size: to-rem(15);
    border: none;
    border-bottom: 1px solid #ccc;
    min-width: to-rem(150);
    padding-block-end: to-rem(4);
    padding-inline-start: to-rem(20);
}