@use '../../utils/index' as *;
@use '../../functions/rem' as *;

.featured-auction {

    .container {
        overflow: hidden
    }
    
    &__title {
        @include fontSize('lg');
        @include fontWeight('medium')
    }
    
    &__row {
        display: flex;
        flex-wrap: nowrap;
        column-gap: to-rem(12);
        min-width: calc(100% * 3);
        transition: all .7s ease-in;

        &.active-card-1 {
            transform: translateX(0);
        }
        &.active-card-2 {
            transform: translateX(-33.9%);
        }
        &.active-card-3 {
            transform: translateX(-67.5%);
        }
    }

    &__card {
        background-color: $secondary_yellow_01;
        border-radius: to-rem(7);
        column-gap: to-rem(20);
        cursor: pointer;
        display: grid;
        grid-template-rows: 1fr to-rem(75) auto;
        min-width: calc(100% / 3);
        padding: to-rem(16);
        
        @include Media('md') {
            grid-template-columns: to-rem(220) 1fr;
        }
        
        &.active {
            border: 1px solid $primary_blue_02;
        }

        &-title {
            @include fontSize('normal-bg');
            @include fontWeight('bold');
            text-align: center;

            @include Media('md') {
                text-align: start;
                @include fontSize('lg')
            }

            @include Media('xl') {
                @include fontSize('xl')
            }
        }

        &-img {
            text-align: center;

            @include Media('md') {
                align-self: center;
                grid-column: 1 / 2;
                grid-row: 1 / 4;
            }

            & > img {
                border-radius: to-rem(7);
                height: to-rem(75);
                width: auto;

                @include Media('md') {
                    height: to-rem(120);
                    max-width: to-rem(220);
                }
            }
        }

        &-text {
            display: none;
            margin-block-end: 0;
            @include fontWeight('medium');

            @include Media('md') {
                display: block;
            }
        }

        &-categories {
            align-self: center;
            text-align: center;
            
            @include Media('md') {
                text-align: start;
            }
        }

        &-category {
            border-radius: to-rem(4);
            background-color: lighten($primary_blue_01, 60%);
            color: $neutral-gray_03;
            @include fontSize('xx-small');
            @include fontWeight('bold');

            @include Media('md') {
                @include fontSize('normal-bg');
            }
        }

        &-price {
            color: $primary_blue_02;
            margin-block-end: 0;
            @include fontSize('lg');
            @include fontWeight('bold');

            & > .price-sign {
                @include fontSize('normal')
            }
        }
    }

    &__navigation {
        margin-block-start: to-rem(10);
        &-list {
            align-items: center;
            column-gap: to-rem(6);
            display: flex;
            justify-content: center;
            list-style: none;
            padding-inline-start: 0;
        }

        &-bullets {
            background-color: $neutral-gray_02;
            border-radius: 50%;
            box-shadow: 0 0 to-rem(4) rgba($neutral-black, .5);
            cursor: pointer;
            display: inline-block;
            height: to-rem(10);
            width: to-rem(10);

            &.active {
                background-color: $primary_blue_02;
            }
        }

    }
}