@use '../../functions/rem' as *;
@use '../../utils/index' as *;

#app .navbar {
    background-color: #fff;
    box-shadow: 0 to-rem(1) to-rem(4) rgba(0, 0, 0, 0.1);
    height: to-rem(42);
    position: fixed;
    top: 0;
    width: 100%;

    &-cart,
    &-sign,
    &-logout {
        background-color: transparent;
        border: none;
    }

    &-cart {
        margin-inline-start: auto;
        margin-inline-end: to-rem(7);
        position: relative;

        #cart-num {
            align-items: center;
            background-color: #559555;
            border-radius: 50%;
            color: #fff;
            font-size: to-rem(10);
            font-weight: bold;
            display: flex;
            height: to-rem(15);
            justify-content: center;
            position: absolute;
            right: to-rem(-3);
            top: to-rem(12);
            width: to-rem(15);
        }
    }

    .user-menu {
        background: #f1f1f1;
        border-radius: to-rem(7);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: to-rem(8);
        position: absolute;
        right: to-rem(15);
        top: 85%;

        & > a {
            color: #353535;
            flex: 0 0 80%;
            padding-block-end: to-rem(3);
            text-align: center;
            text-decoration: none;

            &:hover {
                border-bottom: 1px solid #353535;
            }
        }
    }

    & .user-menu {
        background: #fbfbfb;
        border-radius: to-rem(7);
        box-shadow: to-rem(2) to-rem(1) to-rem(7) rgba(0, 0, 0, .2);
        display: flex;
        flex-direction: column;
        padding: to-rem(8) to-rem(16);
        position: absolute;
        right: 10px;
        top: 100%;

        a {
            color: #353535;
            text-decoration: none;
        }
    }
}