@use '../../functions/rem' as *;
@use '../../utils/index' as *;

#app .navbar {
    background-color: $neutral-white;
    box-shadow: 0 to-rem(1) to-rem(4) rgba($neutral-black, 0.1);
    height: to-rem(42);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    &-cart,
    &-sign,
    &-logout,
    &-back-to-profile {
        background-color: transparent;
        border: none;
    }

    &-back-to-profile {
        background-image: linear-gradient(80deg, $neutral-gray_01, rgba($primary_blue_01, .5));
        border-radius: 50%;
        display: inline-block;
        margin-inline-end: to-rem(7);
        height: to-rem(25);
        width: to-rem(25);
        transition: all .3s ease-in-out;

        &:hover {
            background-image: linear-gradient(80deg, rgba($primary_blue_01, .5), $primary_blue_01);
        }
    }

    &-cart {
        margin-inline-start: auto;
        margin-inline-end: to-rem(7);
        position: relative;

        #cart-num {
            align-items: center;
            background-color: $secondary_red_01;
            border-radius: 50%;
            color: $neutral-white;
            font-size: to-rem(10);
            font-weight: bold;
            display: flex;
            height: to-rem(15);
            justify-content: center;
            position: absolute;
            right: to-rem(-3);
            top: to-rem(12);
            width: to-rem(15);
        }
    }

    .user-menu {
        background: $neutral-white_04;
        border-radius: to-rem(7);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: to-rem(8);
        position: absolute;
        right: to-rem(15);
        top: 85%;

        & > a {
            color: $neutral-gray_03;
            flex: 0 0 80%;
            padding-block-end: to-rem(3);
            text-align: center;
            text-decoration: none;

            &:hover {
                border-bottom: 1px solid $neutral-gray_03;
            }
        }
    }

    & .user-menu {
        background: $neutral-white_01;
        border-radius: to-rem(7);
        box-shadow: to-rem(2) to-rem(1) to-rem(7) rgba($neutral-black, .2);
        display: flex;
        flex-direction: column;
        padding: to-rem(8) to-rem(16);
        position: absolute;
        right: 10px;
        top: 100%;

        a {
            color: $neutral-gray_03;
            text-decoration: none;
        }
    }
}