@use '../../functions/rem' as *;
@use '../../utils/index' as *;

.modal-fade {
    background-color: rgba($neutral-black, .7);
    
    //Position modal
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .product-modal {
        background-color: $secondary_yellow_01;
        border-radius: to-rem(7);
        max-height: 95vh;
        overflow-y: auto;
        padding: to-rem(18);

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -46%);

        &__carousel {
            width: 100%;
        }

        .close-modal {
            background-color: transparent;
            border: none;
        }

        &__image {
            padding-block-end: to-rem(10);

            img {
                border-radius: to-rem(7);
                height: to-rem(150);
                width: auto;
            }
        }

        &__category {
            span {
                border-radius: to-rem(4);
                background-color: lighten($primary_blue_01, 60%);
                color: $neutral-gray_03;
                @include fontSize('xx-small');
                @include fontWeight('bold');
            }
        }

        &__footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__price {
            color: $primary_blue_01;
            margin-block-end: 0;
            @include fontSize('lg');
            @include fontWeight('medium');
        }

        &__pagination {
            align-items: center;
            column-gap: to-rem(4);
            display: flex;
            justify-content: center;

            &-btn {
                height: to-rem(25);
                width: fit-content;

                img {
                    border-radius: to-rem(4);
                    height: to-rem(25);
                    width: auto;

                    &.pag-active {
                        border: 1px solid $primary_blue_02;
                    }
                }
            }
        }
    }
}