@use '../../functions/rem' as *;
@use '../../utils/breakpoints' as *;
@use '../../utils/Tipography' as *;

.product-card {
    border: 1px solid #efefef;
    border-radius: rem(8);
    box-sizing: content-box;
    display: grid;
    grid-template-rows: rem(307) rem(200) 1fr;
    min-height: rem(488);
    transition: border .3s ease-in-out;
    
    &__header {
        display: grid;
        grid-template-rows: 1fr;
    }

    &__title {
        @include fontSize('medium');
        @include fontWeight('medium');
    }

    &__description {
        @include fontSize('small')
    }

    .product-img {
        cursor: pointer;
        height: rem(150);
        width: auto;
        max-width: 95%;
    }

    .product-category {
        border-radius: rem(4);
        background-color: #b8f3b8;
        @include fontSize('x-small');
        @include fontWeight('bold');
    }

    &__price {
        color: #0c0c77;
        font-size: rem(25);
        font-weight: 600;
    }

    .btn-action {
        background-color: #b7b7f6;
        border: 1px solid #3737ec;
        @include fontSize('normal');
        
        &:hover {
            background-color: #8888f1;
        }
    }

    &:has(.product-img__hover) {
        border: 1px solid #076936;
    }
}