@use 'sass:color';
@use '../../functions/rem' as *;
@use '../../utils/index' as *;

.product-card {
    border: 1px solid $neutral-white_04;
    border-radius: to-rem(8);
    box-sizing: content-box;
    display: grid;
    grid-template-rows: to-rem(307) to-rem(200) 1fr;
    min-height: to-rem(488);
    transition: border .3s ease-in-out;
    
    &__header {
        display: grid;
        grid-template-rows: 1fr;
    }

    &__title {
        @include fontSize('medium');
        @include fontWeight('medium');
    }

    &__description {
        @include fontSize('small')
    }

    .product-img {
        cursor: pointer;
        height: to-rem(150);
        width: auto;
        max-width: 95%;
    }

    .product-category {
        border-radius: to-rem(4);
        background-color: lighten($primary_blue_01, 60%);
        color: $neutral-gray_03;
        @include fontSize('xx-small');
        @include fontWeight('bold');
    }

    &__price {
        color: $primary_blue_03;
        font-size: to-rem(25);
        font-weight: 600;
    }

    &__footer.liked {
        .btn-action:has(.fa-heart) {
            background-color: $secondary_red_01;
            color: darken($secondary_red_01, 10%);
        }
    }

    .btn-action {
        background-color: $secondary_yellow_01;
        border: 1px solid $primary_blue_01;
        @include fontSize('normal');
        
        &:has(.fa-heart) {
            background-color: lighten($secondary_red_01, 10%);
            border-color: $secondary_red_01;
            color: $neutral-white;
            
            &:hover {
                background-color: $secondary_red_01;
                color: darken($secondary_red_01, 10%);
            }
        }

        &:hover {
            background-color: $secondary_yellow_02;
        }
    }

    &:has(.product-img__hover) {
        border: 2px solid $primary_blue_01;
    }
}