@use '../functions/rem' as *;

$font-base: 'Nunito', sans-serif;

$font_weight: (
    'x-light': 200,
    'light': 300,
    'medium': 500,
    'bold': 700
);

$font_size: (
    'xx-small': to-rem(10),
    'x-small': to-rem(13),
    'small': to-rem(15),
    'normal': to-rem(16),
    'normal-bg': to-rem(18),
    'medium': to-rem(20),
    'lg': to-rem(24),
    'xl': to-rem(30),
    'xxl': to-rem(32),
);

@mixin fontWeight($weight) {
    font-weight: map-get($font_weight, $weight);
}

@mixin fontSize($size) {
    font-size: map-get($font_size, $size);
}