@use '../functions/rem' as *;

$font-base: 'Nunito', sans-serif;

$font_weight: (
    'x-light': 200,
    'light': 300,
    'medium': 500,
    'bold': 700
);

$font_size: (
    'xx-small': rem(10),
    'x-small': rem(13),
    'small': rem(15),
    'normal': rem(16),
    'medium': rem(20),
    'lg': rem(24),
    'xl': rem(30),
    'xxl': rem(32),
);

@mixin fontWeight($weight) {
    font-weight: map-get($font_weight, $weight);
}

@mixin fontSize($size) {
    font-size: map-get($font_size, $size);
}